sumy
lexrank
rouge
torch
streamlit
sentence_transformers 
pymilvus
PyPDF2
networkx 

plotly
d3blocks
bs4
langchain
huggingface_hub
faiss-cpu

spacy>=3.0.0,<4.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl

streamlit-d3graph
